#header-top {
  z-index: 20;
}

#toolbar-container {
  z-index: 20;
}

#summary_nav {
  margin-top: -29px;
  position: absolute;
  right: 25px;
  z-index: 1000;
}

#discovery_submit {
  color: black;
}

#discovery_summary {
  display: none;
  margin-top: 32px;
  background: none repeat scroll 0 0 #FFFFFF;
  position: absolute;
  right: 0;
  width: 557px;
  padding: 15px;
  line-height: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 600px;
}

#su_username {
  color: black;
}

#summary_results {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  width: 535px;
  color: black;
}

#summary_results #summary_header {
  font-weight: bold;
}

#show_more_total_button {
  display: none;
}

#show_more_live_button {
  display: none;
}

#show_more_total {
  display: none;
  width: 557px;
}

#show_more_live {
  display: none;
  width: 557px;
}

@-moz-keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.summary_spinner:not(:required) {
  -moz-animation: three-quarters-loader 1250ms infinite linear;
  -webkit-animation: three-quarters-loader 1250ms infinite linear;
  animation: three-quarters-loader 1250ms infinite linear;
  border: 8px solid #38e;
  border-right-color: transparent;
  border-radius: 16px;
  box-sizing: border-box;
  display: none;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}

#errors {
  color: red;
}

